.button-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.not-space-button-container {
    display:flex;
    justify-content: space-between;
    width: 1000px;
}

.left-side-button-container,
.right-side-button-container {
    display:flex;
    width: 370px;
    align-items: center;
    justify-content: center;
}


.left-side-button-container {
    
}

.right-side-button-container {
    
}

/* Buttons */
.left-side-button-container > button,
.right-side-button-container > button {
    width: 80px;
    height: 40px;
    margin: 5px;
}

#space-button {
    width: 200px;
    height: 40px;
}